
.rating-input {
    display: flex;
    margin-right: 4px;
  }
  
  .review-item {
    display: flex;
  }
  
  .rating-input .filled {
    color: gold;
    border: 1px gold;
  }
  
  .rating-input .empty {
    color: white;
    border: 1px black;
  }
  
  .sort {
    display: flex;
    list-style: none;
  }
  
  .sort li {
    cursor: pointer;
    margin: 0 4px;
  }
  
  .sort li.active {
    font-weight: bold;
    text-decoration: underline;
    pointer-events: none;
  }
