

.all-spots{
    position:relative;
    width:100%;
    display:flex;
    flex-direction:row;

}

.spot-tile{
    display:flex;
    height:100px;

}

.spot-tile:hover{
    cursor: pointer;
}

.img{
    height:100px;
    width:200px;
}

/* Link to={`/spots/${id}`} */