/* TODO: Add sitewide styles */
/* Import a CSS reset library like Normalize.css */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

*{
    padding:0;
    margin:0;
    /* font-family: "Lynstone", Helvetica, Arial, sans-serif; */
    font-family:sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
    text-rendering: optimizeLegibility;
    cursor:default;
}

button {
    /* Your custom button styles here */
    border: 1px solid #d5d5d5; /* Example: Set a solid border with desired color */
}

/* h1{
    font-size: 15pt;
    /* font-weight:100; */
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */



h1{
    font-size: 15pt;
    /* font-weight:100; */
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}


