#sign-up-form{
    display: grid;
 
}
  
  
.form-label input {
    margin-top: 5px; 
}
  


#sign-up-form p {
    color: red;
    font-size: 0.9em;
    margin: 5px 0;
}


.custom-input{
    height:20%;
}


label{
    margin:0;
}